.USER{
    background-color: #a9c472;
    color: white;
}

.GBO{
    background-color: yellow;
    color: black;
}

.GS{
    background-color: darkorange;
    color: white;
}

.SU{
    background-color: darkred;
    color: white;
}